@import 'tailwindcss';
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@custom-variant light (&:is(.light *));

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
