.headerWrapper {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: hsl(#{var(--heroui-background)});
  display: flex;
}

.tableHeader {

  & > div {
    flex: 1;
  }

  z-index: 300;
  display: flex;
  font-weight: 600;
  flex: 1;
  background-color: hsl(#{var(--heroui-content1)});
  border: 0.1em solid hsl(#{var(--heroui-divider)});
  color: hsl(#{var(--heroui-content1-foreground)});
  border-radius: 0.5em  0.5em 0 0;
}

.contentHeader {
  span {
    display: block;
    user-select: none;
  }

  :first-child {
    margin-left: 1em;
    margin-top: 0.75em;
    margin-bottom: -1.5em;
  }

  :last-child {
    margin-left: 1em;
    margin-bottom: 0.75em;
  }
}
