$size: 1.5em;

.button {
  width: $size;
  height: $size;
  path {
    fill: #ffffff;
  }
}

.header {
  flex: 0 1 auto;
  display: flex;
  gap: 0.75em;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  span {
    flex-grow: 1;
    text-wrap: nowrap;
    user-select: none;
    color: #ffffff;
  }
}

.timerForeground {
  color: #ffffff;
}

.description {
  color: #ffffff;
}

.activity {
  break-inside: avoid;
  margin-bottom: 0.4rem;
}