.previewCell {
  position: absolute;
  border: 0 solid transparent;
  border-radius: 0.5em;
  padding: 0.25em;
  min-height: 3.75em;
  cursor: pointer;
  pointer-events: auto;
  z-index: 50;

  span {
    color: #ffffff;
  }
}

.info {
  margin-left: 0.4em;
  font-size: 0.6em;
}