.authentication {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.centering {
  flex-grow: 1;
}

.loginBox {
  min-width: 15em;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}